body{
    background-color: black;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto;
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "m m m m m m m m m m m m";
}

header{
    width: 100%;
    grid-area: h;
    background-color: red;
    text-align: center;
}

main{
    grid-area: m;
    background-color: black;
}

.container{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
    "i1 i2"
    "i3 i4";
}
    #img1{
        width: 100%;
        height: auto;
        grid-area: i1;
    }
    #img2{
        width: 100%;
        height: auto;
        grid-area: i2;
    }
    #img3{
        width: 100%;
        height: auto;
        grid-area: i3;
    }
    #img4{
        width: 100%;
        height: auto;
        grid-area: i4;
    }
