body{
    background-color: black;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px auto;
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "m m m m m m m m m m m m";
}

header{
    width: 100%;
    grid-area: h;
    background-color: red;
    text-align: center;
}

main{
    grid-area: m;
    background-color: black;
}

.container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px auto 60px auto;
    grid-template-areas:
    "t1 t1"
    "i1 i2"
    "t2 t2"
    "i3 i4";
    text-align: center;
    justify-content: center;
}
    #img1{
        width: 100%;
        height: auto;
        grid-area: i1;
    }
    #img2{
        width: 100%;
        height: auto;
        grid-area: i2;
    }
    #img3{
        width: 100%;
        height: auto;
        grid-area: i3;
    }
    #img4{
        width: 100%;
        height: auto;
        grid-area: i4;
    }
    #text1{
        grid-area: t1;
        width: 100%;
        height: auto;
        background-color: gray;
        margin-top: auto;
    }
    #text2{
        grid-area: t2;
        width: 100%;
        height: auto;
        background-color: gray;
        margin-top: auto;
    }